{% extends "layouts/layout.html.twig" %}

{% block title %}Personnages{% endblock %}

{% block body %}
<div class="container my-5">
  <section class="dark-grey-text bg-light p-2">
    <h2 class="text-center font-weight-bold mb-4 pb-2">Liste des personnages</h2>
    <div class="row align-items-center mt-5">
          {% for personnage in personnages %}
      <div class="col-lg-5 col-xl-4 my-5">
        <div class="view overlay">
          <img class="rounded mx-auto d-block img-thumbnail" src="{{ asset('images/personnages/'~ personnage.image)}}" alt="{{'Image de ' ~ personnage.name}}" style="max-width:500px;max-height:500px;">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
         <div class="col-lg-7 col-xl-8">
           <h4 class="font-weight-bold mb-3"><strong>{{ personnage.name }}</strong></h4>
           <em class="dark-grey-text mb-3">Peuple : {{personnage.people}}</em>
           <p class="dark-grey-text">{{ personnage.history }}</p>
           <p>Année de naissance : {{ personnage.birth }}</p>
           <p>Année de décès : {{ personnage.death }}</p>
         </div>
         <hr class="col-10 m-auto my-2">
      {% endfor %}
    </div>
    <hr class="my-5">
      <div class="navigation">
         {{ knp_pagination_render(personnages) }}
      </div>
  </section>
</div>
{% endblock %}
