{% extends "layouts/layout.html.twig" %}

{% block title %}
{% if create %}
Création Personnage
{% else %}
Modification Personnage
{% endif %}
{% endblock %}

{% block body %}

<div class="container my-5 bg-light p-3">
<h2 class="text-center">
{% if create %}
Création Personnage
{% else %}
Modification de {{ personnage.name }}
{% endif %}
</h2>

<hr class="my-3">
   {{ form_start(form) }}
   <div class="row">
      <div class="col-6 my-2">
         {{ form_row(form.name) }}
      </div>
      <div class="col-6 my-2">
         {{ form_row(form.people) }}
      </div>
      <div class="col-6 my-2">
         {{ form_row(form.birth) }}
      </div>
      <div class="col-6 my-2">
         {{ form_row(form.death) }}
      </div>
      <div class="col-12 my-2">
         {{ form_row(form.imageFile) }}
      </div>
      {% if create == false %}
         <img class="d-flex mr-3" style="max-height:200px;max-width:200px;" src="{{ asset('images/personnages/' ~ personnage.image)}}" alt="Photo de {{personnage.name}}">
      {% endif %}
      <div class="col-12 my-2">
         {{ form_row(form.history) }}
      </div>
      <div class="col-5 mt-3">
         <input class="btn btn-outline-primary waves-effect" value="Créer" type="submit">
      </div>
   </div>
   {{ form_end(form) }}
</div>

{% endblock %}